# Environment Mode (development | production)
NODE_ENV=production

# Server Port
PORT=5000

# Database Configuration (Local MongoDB or MongoDB Atlas URI)
MONGO_URI=mongodb://127.0.0.1:27017/medication_tracker

# Security Secret
JWT_SECRET=super_secret_jwt_token_key_here

# Client URL for CORS
CLIENT_URL=https://pillsync-3.onrender.com
