# Environment Mode (development | production)
NODE_ENV=production

# Server Port
PORT=5000

# Database Configuration (Local MongoDB or MongoDB Atlas URI)
MONGO_URI=

# Security Secret
JWT_SECRET=

# Client URL for CORS
CLIENT_URL=https://pill-s-ync-fi21-rajabhay532-1727s-projects.vercel.app
