# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
.env.*.local
!*.env.example

# Production builds & dist
dist/
build/
**/dist/
**/build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
.vite/
**/.vite/

backend/db.sqlite3
backend/**/__pycache__/
*.pyc
backend/.env
